annotated-types==0.7.0
attrs==24.2.0
certifi==2024.8.30
charset-normalizer==3.3.2
confluent-kafka==2.4.0
idna==3.10
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
loguru==0.7.2
numpy==2.1.1
orjson==3.10.7
pandas==2.2.2
pydantic==2.8.2
pydantic-settings==2.4.0
pydantic_core==2.20.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
quixstreams==2.11.1
referencing==0.35.1
requests==2.32.3
rocksdict==0.3.23
rpds-py==0.20.0
six==1.16.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.3
websocket-client==1.8.0
